html{
    height: 100%;
}
body {margin: 0px;
    padding-right: 0px;
    height: 100%;}
a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

h1 {font-size: 30px;}
.containerforphoto {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.BackGroundPhoto {
    height: 50%;
    width: 50%;
    display: flex;
    background-image: url("../images/ian2.jpg");
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    /* min-height: 800px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: stretch;
    border-radius: 1200px;
}


.NavSection {
    
    height: 5vh;
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: stretch;
    
}
.IntroName {
    display: flex;
    justify-content: flex-start;
    /* font-family: sans-serif; */
    padding-left: 20px;
    transform: translateY(19px);
    /* order: 0; */
}
.navigationLinks { 
    /* order: 2; */
    display: flex;
    justify-content: right;
    /* justify-self: flex-end; */
    transform: translateY(19px);
    margin-right: 20px;
}
.contactMeClass { 
    /* order: 1; */

    align-self: center;
    transform: translateY(200px);
    margin-left: 50px;

    
}
.BigContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
}
.continerForAboutMe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.AboutMeHeader {
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 50px;
    margin-top: 70px;
}

.aboutMeText {
    padding: 50px;
    border-style: outset;
    border-color: black;
    border-width: 5px;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 40px;
    text-align: center;
}
.containerForClients {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 600px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.ClientsHeader {
    order: 0;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}



.ten{
    background-image: url("../images/zaki2.jpg");
    align-self: flex-end;
    min-height: 250px;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
}
.eleven {
    display: flex;
    justify-content: center;
    background-image: url("../images/zaki2.jpg");
    background-repeat: no-repeat;
    width: 75%;
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 35px;
    align-items: center;
}

.Client1Text {
    color: blanchedalmond;
    font-size: 40px;
    font-style: italic;

}
.Client2Text {
    color: blanchedalmond;
    font-size: 40px;
    font-style: italic;
}

.Containerforp1head {
    display: flex;
    flex-flow: column wrap;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.HeaderProjects {
    font-size: 60px;
    margin-bottom: 55px;
    margin-top: 20px;
    /* margin-left: 600px; */
    /* margin-right: 600px; */
}


.Containerforp2and3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 60px;
}


.Project1image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/zaki1.jpg");
    background-repeat: no-repeat;
    /* flex-grow: 4; */
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    height: 75vh;
    width: 80%;
}
.Project1Text{
    font-style: italic;
    
    
}
.Project2Image{
    justify-self: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/zaki1.jpg");
    background-repeat: no-repeat;
    /* flex-grow: 1; */
    height: 70vh;
    width: 42%;
}
.Project2Text{
    font-style: italic;
}
.Project3Image{
    justify-self: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/zaki1.jpg");
    background-repeat: no-repeat;
    /* flex-grow: 1; */
    height: 70vh;
    width: 42%;
    
}
.Project3Text{
    font-style: italic;
}
.ContactHeadercontainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 38px;
}
.Contactcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 14vh;
    align-items: center;
}

 .Contactheader {
    font-size: 60px;
}

.ContactEmail{}
.ContactResume{}
.ContactInsta{}
.ContactGit{}


.footerformat{ 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}



















/*this is the begining of flex formating */
.container {
    /*this defines container as a container with flex styling*/
    display: flex;
    /*this makes the group either a row or a column*/
    flex-direction: row;
    /*this makes it so content will wrap around if the browser is moved around? or maybe if there is too much per line*/
    flex-wrap: wrap;
    /*flex flow does flex direction and wrap in 1*/
    flex-flow: row wrap;
    /*this puts space in between the items or puts them on the left or right side of the screen */
    justify-content: space-between;
    /*this basically justifies the items to the top or bottom of the container so the header should be flex-start and footer flex-end?*/
    align-items: flex-start;
    /*this puts space between items on the Y or cross axis. this could put space between rows of content on the y axis alight */
    align-content: space-between;
}

.item { 
    order: 1;
    /*this sets flex grow to 1 flex shrink to 0 and flex basis to auto*/
    flex: 1 0 auto;
    /*this overrides the container element's flex start for this element if needed*/
    align-self: flex-end;



}


}